@{
    ViewData["Title"] = "Home Page";
    //Layout = "/Views/Shared/_TestLayout.cshtml";
    Layout = "/Views/Shared/_ThemeLayout.cshtml";
    //Layout = "/Views/Shared/_Layout.cshtml";
}


@*<div class="text-center">
        <h1 class="display-4">Welcomeeeeee</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<span>
    This is some text within a card block.
</span>
                            
